In [58]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import axis as ax

In [59]:
## Load in the Fall Survey Count and Oceanographic Data
nefsc_count = pd.read_csv("Data/22560_UNION_FSCS_SVCAT.csv", on_bad_lines="skip", encoding='unicode_escape')
nefsc_ocean = pd.read_csv("Data/22560_UNION_FSCS_SVSTA.csv", on_bad_lines="skip", encoding='unicode_escape')
# nefsc_len   = pd.read_csv("Data/22561_UNION_FSCS_SVLEN.csv", on_bad_lines="skip", encoding='unicode_escape')

/tmp/ipykernel_179/2719255796.py:2: DtypeWarning: Columns (2,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  nefsc_count = pd.read_csv("Data/22560_UNION_FSCS_SVCAT.csv", on_bad_lines="skip", encoding='unicode_escape')
/tmp/ipykernel_179/2719255796.py:3: DtypeWarning: Columns (2,6,66,67,68,83) have mixed types. Specify dtype option on import or set low_memory=False.
  nefsc_ocean = pd.read_csv("Data/22560_UNION_FSCS_SVSTA.csv", on_bad_lines="skip", encoding='unicode_escape')

In [60]:
## Looking at what the look like 
nefsc_count

,CRUISE6,CRUISE,STRATUM,TOW,STATION,STATUS_CODE,ID,SVSPP,CATCHSEX,EXPCATCHNUM,EXPCATCHWT,SCIENTIFIC_NAME,CATCH_COMMENT
0,196307,6307,1260,1,1,10,196307012600010001,15,0,10.0,19.500,Squalus acanthias (spiny dogfish),
1,196307,6307,1260,1,1,10,196307012600010001,23,0,53.0,142.000,Leucoraja ocellata (winter skate),
2,196307,6307,1260,1,1,10,196307012600010001,26,0,11.0,7.700,Leucoraja erinacea (little skate),
3,196307,6307,1260,1,1,10,196307012600010001,31,0,1.0,0.000,Etrumeus teres (round herring),
4,196307,6307,1260,1,1,10,196307012600010001,33,0,2.0,0.500,Alosa pseudoharengus (alewife),
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338175,202404,202404,1260,7,816,10,202404012600070816,503,0,163.0,0.916,Loligo pealeii (longfin squid),NaN
338176,202404,202404,1260,7,816,10,202404012600070816,998,0,0.0,1.089,TRASH SPECIES IN CATCH,NaN
338177,202404,202404,1260,7,816,10,202404012600070816,15,1,2.0,2.990,Squalus acanthias (spiny dogfish),NaN
338178,202404,202404,1260,7,816,10,202404012600070816,301,1,9.0,3.770,Homarus americanus (American lobster),NaN
338179,202404,202404,1260,7,816,10,202404012600070816,301,2,20.0,14.790,Homarus americanus (American lobster),NaN

In [61]:
## Looking at what the look like 
nefsc_ocean

,CRUISE6,CRUISE,STRATUM,TOW,STATION,STATUS_CODE,ID,STATYPE,HAUL,GEARCOND,...,SURFTEMP,SURFSALIN,BOTTEMP,BOTSALIN,FULD,NO_DETAIL_SVSPP,BOTSPEED,WATCH_CHIEF_COMMENTS,STATION_COMMENTS,HABITAT_COMMENTS
0,196307,6307,1260,1,1,10,196307012600010001,1.0,2.0,3.0,...,11.00,NaN,10.10,NaN,NaN,NaN,0.0,,,
1,196307,6307,1260,2,2,10,196307012600020002,1.0,3.0,5.0,...,9.90,NaN,9.90,NaN,NaN,NaN,0.0,,,
2,196307,6307,1260,3,3,10,196307012600030003,1.0,2.0,3.0,...,9.90,NaN,8.10,NaN,NaN,NaN,0.0,,,
3,196307,6307,1260,4,4,10,196307012600040004,1.0,3.0,5.0,...,10.20,NaN,10.10,NaN,NaN,NaN,0.0,,,
4,196307,6307,1260,5,5,10,196307012600050005,1.0,2.0,3.0,...,10.00,NaN,9.40,NaN,NaN,NaN,0.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21818,202404,202404,03610,3,808,10,202404036100030808,1.0,1.0,1.0,...,11.47,32.323,9.74,32.696,NaN,NaN,3.0,NaN,NaN,NaN
21819,202404,202404,01260,2,810,10,202404012600020810,1.0,1.0,1.0,...,11.44,32.405,8.08,33.121,NaN,NaN,2.9,NaN,NaN,NaN
21820,202404,202404,01260,4,812,10,202404012600040812,1.0,4.0,9.0,...,11.41,32.239,11.18,32.333,NaN,NaN,2.8,NaN,NaN,NaN
21821,202404,202404,01260,6,814,10,202404012600060814,1.0,1.0,1.0,...,12.00,32.005,10.40,32.383,NaN,NaN,2.9,NaN,NaN,NaN
21822,202404,202404,01260,7,816,10,202404012600070816,1.0,1.0,1.0,...,12.11,32.017,10.26,32.521,NaN,NaN,3.0,NaN,NaN,NaN

In [62]:
## Removing Columns that are duplicated columns with the ocean data
nefsc_count = nefsc_count.drop(columns=["CRUISE6","CRUISE",'TOW','STATION','STRATUM','STATUS_CODE',"CATCH_COMMENT","CATCHSEX"])

In [63]:
## Now you should have 4 columns ID, SVSPP, EXPCATCHNUM, EXPCATCHWT
nefsc_count

,ID,SVSPP,EXPCATCHNUM,EXPCATCHWT,SCIENTIFIC_NAME
0,196307012600010001,15,10.0,19.500,Squalus acanthias (spiny dogfish)
1,196307012600010001,23,53.0,142.000,Leucoraja ocellata (winter skate)
2,196307012600010001,26,11.0,7.700,Leucoraja erinacea (little skate)
3,196307012600010001,31,1.0,0.000,Etrumeus teres (round herring)
4,196307012600010001,33,2.0,0.500,Alosa pseudoharengus (alewife)
...,...,...,...,...,...
338175,202404012600070816,503,163.0,0.916,Loligo pealeii (longfin squid)
338176,202404012600070816,998,0.0,1.089,TRASH SPECIES IN CATCH
338177,202404012600070816,15,2.0,2.990,Squalus acanthias (spiny dogfish)
338178,202404012600070816,301,9.0,3.770,Homarus americanus (American lobster)
338179,202404012600070816,301,20.0,14.790,Homarus americanus (American lobster)

In [64]:
## Merging the Ocean and count data together into 1 DataFrame
nefsc_full = pd.merge(nefsc_ocean,nefsc_count,on="ID", how='left').sort_index()

In [65]:
## There is an error in some dates in the EST_DATES column, so we are creating a column of years based on the first 4 characters of the ID
nefsc_full['year'] = nefsc_full['ID'].astype(str).str[:4].astype(int)

In [66]:
# Dropping the years that we don't need. This project focused on 2023 and 2024

drops = np.arange(1963,2023)
df2 = nefsc_full.set_index('year')
nefsc = df2.drop(drops, errors='ignore')

In [67]:
## Taking a peak 
nefsc

,CRUISE6,CRUISE,STRATUM,TOW,STATION,STATUS_CODE,ID,STATYPE,HAUL,GEARCOND,...,FULD,NO_DETAIL_SVSPP,BOTSPEED,WATCH_CHIEF_COMMENTS,STATION_COMMENTS,HABITAT_COMMENTS,SVSPP,EXPCATCHNUM,EXPCATCHWT,SCIENTIFIC_NAME
year,,,,,,,,,,,,,,,,,,,,,
2023,202304,202304,01740,4,14,10,202304017400040014,1.0,1.0,1.0,...,NaN,NaN,3.4,NaN,NaN,NaN,26.0,2.0,1.140,Leucoraja erinacea (little skate)
2023,202304,202304,01740,4,14,10,202304017400040014,1.0,1.0,1.0,...,NaN,NaN,3.4,NaN,NaN,NaN,72.0,2.0,0.295,Merluccius bilinearis (silver hake)
2023,202304,202304,01740,4,14,10,202304017400040014,1.0,1.0,1.0,...,NaN,NaN,3.4,NaN,NaN,NaN,78.0,2.0,0.110,Urophycis regia (spotted hake)
2023,202304,202304,01740,4,14,10,202304017400040014,1.0,1.0,1.0,...,NaN,NaN,3.4,NaN,NaN,NaN,104.0,2.0,0.392,Hippoglossina oblonga (fourspot flounder)
2023,202304,202304,01740,4,14,10,202304017400040014,1.0,1.0,1.0,...,NaN,NaN,3.4,NaN,NaN,NaN,109.0,3.0,0.018,Citharichthys arctifrons (Gulf stream flounder)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024,202404,202404,03610,3,808,10,202404036100030808,1.0,1.0,1.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,202404,202404,01260,2,810,10,202404012600020810,1.0,1.0,1.0,...,NaN,NaN,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,202404,202404,01260,4,812,10,202404012600040812,1.0,4.0,9.0,...,NaN,NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,202404,202404,01260,6,814,10,202404012600060814,1.0,1.0,1.0,...,NaN,NaN,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,202404,202404,01260,7,816,10,202404012600070816,1.0,1.0,1.0,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
## Save the dataframe with all the species caught 
nefsc.to_csv('Data/fall_nefsc.csv')

In [69]:
nefsc.SURFSALIN

year
2023    39.023500
2023    39.023500
2023    39.023500
2023    39.023500
2023    39.023500
          ...
2024    42.111695
2024    42.137878
2024    42.355163
2024    42.287042
2024    42.278437
Name: DECDEG_BEGLAT, Length: 5849, dtype: float64

In [116]:
## We needed a list of all of the dates, location and ID's of all tows and needed to distinguish the Northeast vs Northwest 

nefsc_dates= nefsc_dates.drop_duplicates().dropna()
nefsc_dates_df = pd.DataFrame({"lat": nefsc["DECDEG_BEGLAT"],
                              "lon": nefsc["DECDEG_BEGLON"],
                              "ID": nefsc["ID"],
                              "dates": pd.to_datetime(nefsc["BEGIN_EST_TOWDATE"]).dt.strftime('%Y-%m-%d'),
                              "surf_temp":nefsc['SURFTEMP'],
                               "bot_temp":nefsc['BOTTEMP'], 
                               "surf_salinity": nefsc["SURFSALIN"],
                               "bot_salinity": nefsc["BOTSALIN"],
                              "avg_depth":nefsc["AVGDEPTH"]}
                              )
nefsc_dates_df = nefsc_dates_df.drop_duplicates("ID")

nefsc_dates_df['region'] = "northeast"
nefsc_dates_df

,lat,lon,ID,dates,surf_temp,bot_temp,surf_salinity,bot_salinity,avg_depth,region
year,,,,,,,,,,
2023,39.023500,-73.294333,202304017400040014,2023-09-10,24.62,9.93,31.693,33.049,70.0,northeast
2023,38.840500,-73.203333,202304017400020015,2023-09-10,25.49,10.00,31.953,33.350,81.0,northeast
2023,38.844167,-72.988167,202304017500020016,2023-09-10,24.92,14.05,33.659,35.459,118.0,northeast
2023,38.851833,-72.934000,202304017600040017,2023-09-10,25.47,13.28,33.237,35.600,192.0,northeast
2023,38.852333,-72.933667,202304017600010018,2023-09-10,25.47,13.28,33.237,35.600,190.0,northeast
...,...,...,...,...,...,...,...,...,...,...
2024,42.111695,-70.044550,202404036100030808,2024-11-10,11.47,9.74,32.323,32.696,50.0,northeast
2024,42.137878,-70.016288,202404012600020810,2024-11-10,11.44,8.08,32.405,33.121,88.0,northeast
2024,42.355163,-70.252827,202404012600040812,2024-11-11,11.41,11.18,32.239,32.333,40.0,northeast
2024,42.287042,-70.368130,202404012600060814,2024-11-11,12.00,10.40,32.005,32.383,89.0,northeast
2024,42.278437,-70.455805,202404012600070816,2024-11-11,12.11,10.26,32.017,32.521,81.0,northeast

In [32]:
# nefsc_dates_df.to_csv("Data/towcatchdates_fall.csv")

In [85]:
spplist = pd.read_csv("Data/SVDBS_SVSPECIES_LIST.csv", on_bad_lines="skip", encoding='unicode_escape')

spplist_23_24 = pd.merge(spplist,nefsc,on="SVSPP", how='left').sort_index()

spplist_23_24 = spplist_23_24.dropna(subset=["ID"])

In [103]:
unispp = spplist_23_24.drop_duplicates("SCIENTIFIC_NAME")

In [106]:
fish_only = [
    'Acipenser oxyrinchus (Atlantic sturgeon)',
    'Alosa aestivalis (blueback herring)',
    'Alosa pseudoharengus (alewife)',
    'Alosa sapidissima (American shad)',
    'Aluterus heudelotii (dotterel filefish)',
    'Aluterus schoepfii (orange filefish)',
    'Amblyraja radiata (thorny skate)',
    'Ammodytes dubius (northern sand lance)',
    'Anchoa hepsetus (striped anchovy)',
    'Anchoa lyolepis (dusky anchovy)',
    'Anchoa mitchilli (bay anchovy)',
    'Ancylopsetta ommata (ocellated flounder)',
    'Antigonia capros (deepbody boarfish)',
    'Ariomma bondi (silver rag)',
    'Ariomma regulus (spotted driftfish)',
    'Aspidophoroides monopterygius (alligatorfish)',
    'Astroscopus guttatus (northern stargazer)',
    'Balistes capriscus (gray triggerfish)',
    'Bellator egretta (streamer searobin)',
    'Bothus robinsi (twospot flounder)',
    'Brevoortia tyrannus (Atlantic menhaden)',
    'Brosme brosme (cusk)',
    'Caranx crysos (blue runner)',
    'Caulolatilus microps (blueline tilefish)',
    'Centropristis ocyurus (bank sea bass)',
    'Centropristis philadelphica (rock sea bass)',
    'Centropristis striata (black sea bass)',
    'Chaetodipterus faber (Atlantic spadefish)',
    'Chaetodon ocellatus (spotfin butterflyfish)',
    'Chaetodon sedentarius (reef butterflyfish)',
    'Chauliodus sloani (viperfish)',
    'Chaunax stigmaeus (redeye gaper)',
    'Chilomycterus atringa (spotted burrfish)',
    'Chilomycterus schoepfii (striped burrfish)',
    'Chlorophthalmus agassizi (shortnose greeneye)',
    'Chloroscombrus chrysurus (Atlantic bumper)',
    'Citharichthys arctifrons (Gulf stream flounder)',
    'Citharichthys cornutus (horned whiff)',
    'Citharichthys',
    'Clupea harengus (Atlantic herring)',
    'Caelorinchus caelorhincus carminatus(longnose grenadier)',
    'Conger oceanicus (conger eel)',
    'Congridae',
    'Cookeolus japonicus (bulleye)',
    'Cryptacanthodes maculatus (wrymouth)',
    'Cyclopterus lumpus (lumpfish)',
    'Cynoscion nothus (silver seatrout)',
    'Cynoscion regalis (weakfish)',
    'Cyttopsis rosea (red dory)',
    'Dactylopterus volitans (flying gurnard)',
    'Decapterus punctatus (round scad)',
    'Dibranchus atlanticus (Atlantic batfish)',
    'Diplectrum bivittatum (dwarf sand perch)',
    'Diplectrum formosum (sand perch)',
    'Dipturus laevis (barndoor skate)',
    'Enchelyopus cimbrius (fourbeard rockling)',
    'Engraulis eurystole (silver anchovy)',
    'Epinephelus niveatus (snowy grouper)',
    'Equetus lanceolatus (jackknife-fish)',
    'Etropus microstomus (smallmouth flounder)',
    'Etropus',
    'Etrumeus teres (round herring)',
    'Fistularia petimba (red cornetfish)',
    'Fistularia',
    'Foetorepus agassizii (spotfin dragonet)',
    'Gadus morhua (Atlantic cod)',
    'Gerreidae',
    'Glyptocephalus cynoglossus (witch flounder)',
    'Gymnura altavela (spiny butterfly ray)',
    'Gymnura micrura (smooth butterfly ray)',
    'Haemulon aurolineatum (tomtate)',
    'Haemulon striatum (striped grunt)',
    'Halieutichthys aculeatus (pancake batfish)',
    'Helicolenus dactylopterus (blackbelly rosefish)',
    'Hemitripterus americanus (sea raven)',
    'Hippoglossoides platessoides (American plaice)',
    'Holacanthus bermudensis (blue angelfish)',
    'Holacanthus ciliaris (queen angelfish)',
    'Illex illecebrosus (northern shortfin squid)',   # <-- cephalopod (could remove if you want strictly fish)
    'Kathetostoma albigutta (lancer stargazer)',
    'Labridae',
    'Acanthostracion polygonius (honeycomb cowfish)',
    'Lagocephalus laevigatus (smooth puffer)',
    'Lagodon rhomboides (pinfish)',
    'Larimus fasciatus (banded drum)',
    'Leiostomus xanthurus (spot)',
    'Lepophidium profundorum (fawn cusk-eel)',
    'Leucoraja erinacea (little skate)',
    'Leucoraja garmani (rosette skate)',
    'Leucoraja ocellata (winter skate)',
    'Limanda ferruginea (yellowtail flounder)',
    'Loligo pealeii (longfin squid)',   # <-- cephalopod (same note as above)
    'Lophius americanus (goosefish)',
    'Lophius gastrophysus (blackfin goosefish)',
    'Lopholatilus chamaeleonticeps (tilefish)',
    'Lutjanidae',
    'Lutjanus campechanus (red snapper)',
    'Macroramphosus scolopax (longspine snipefish)',
    'Macrouridae',
    'Zoarces americanus (ocean pout)',
    'Malacocephalus occidentalis (western softhead grenadier)',
    'Malacoraja senta (smooth skate)',
    'Melanogrammus aeglefinus (haddock)',
    'Menticirrhus americanus (southern kingfish)',
    'Menticirrhus saxatilis (northern kingfish)',
    'Merluccius albidus (offshore hake)',
    'Merluccius bilinearis (silver hake)',
    'Merluccius',
    'Micropogonias undulatus (Atlantic croaker)',
    'Mola mola (ocean sunfish)',
    'Monacanthus ciliatus (fringed filefish)',
    'Stephanolepis hispida (planehead filefish)',
    'Monolene sessilicauda (deepwater flounder)',
    'Moridae',
    'Morone saxatilis (striped bass)',
    'Mustelus canis (smooth dogfish)',
    'Mycteroperca microlepis (gag)',
    'Myctophidae',
    'Myliobatis freminvillii (bullnose ray)',
    'Myoxocephalus aenaeus (grubby)',
    'Myoxocephalus octodecemspinosus (longhorn sculpin)',
    'Myxine glutinosa (Atlantic hagfish)',
    'Neomerinthe hemingwayi (spinycheek scorpionfish)',
    'Ogcocephalus corniger (longnose batfish)',
    'Ophichthidae',
    'Ophichthus puncticeps (palespotted eel)',
    'Ophidiidae',
    'Ophidion grayi (blotched cusk-eel)',
    'Ophidion marginatum (striped cusk-eel)',
    'Opisthonema oglinum (Atlantic thread herring)',
    'Orthopristis chrysoptera (pigfish)',
    'Otophidium omostigma (polka-dot cusk-eel)',
    'Paralepididae',
    'Paralichthys dentatus (summer flounder)',
    'Hippoglossina oblonga (fourspot flounder)',
    'Paralichthys squamilentus (broad flounder)',
    'Parasudis truculenta (longnose greeneye)',
    'Peprilus paru (harvestfish)',
    'Peprilus triacanthus (butterfish)',
    'Pholis gunnellus (rock gunnel)',
    'Physiculus fulvus (metallic codling)',
    'Poecilopsetta beanii (deepwater dab)',
    'Pogonias cromis (black drum)',
    'Pollachius virens (pollock)',
    'Polymixia lowei (beardfish)',
    'Pomatomus saltatrix (bluefish)',
    'Pontinus longispinis (longspine scorpionfish)',
    'Porichthys plectrodon (Atlantic midshipman)',
    'Prionotus alatus (spiny searobin)',
    'Prionotus carolinus (northern searobin)',
    'Prionotus evolans (striped searobin)',
    'Prionotus ophryas (bandtail searobin)',
    'Prionotus roseus (bluespotted searobin)',
    'Prionotus rubio (blackwing searobin)',
    'Prionotus scitulus (leopard searobin)',
    'Prionotus stearnsi (shortwing searobin)',
    'Prionotus tribulus (bighead searobin)',
    'Pristigenys alta (short bigeye)',
    'Pristipomoides aquilonaris (wenchman)',
    'Pseudopleuronectes americanus (winter flounder)',
    'Pseudupeneus maculatus (spotted goatfish)',
    'Rachycentron canadum (cobia)',
    'Raja eglanteria (clearnose skate)',
    'Rhinoptera bonasus (cownose ray)',
    'Rhizoprionodon terraenovae (Atlantic sharpnose shark)',
    'Rhomboplites aurorubens (vermilion snapper)',
    'Sarda sarda (Atlantic bonito)',
    'Sardinella aurita (Spanish sardine)',
    'Sciaenidae',
    'Scomber scombrus (Atlantic mackerel)',
    'Scomberesox saurus (Atlantic saury)',
    'Scomberomorus maculatus (Spanish mackerel)',
    'Scophthalmus aquosus (windowpane)',
    'Scorpaena agassizii (longfin scorpionfish)',
    'Scorpaenidae',
    'Scyliorhinus retifer (chain dogfish)',
    'Sebastes fasciatus (Acadian redfish)',
    'Selar crumenophthalmus (bigeye scad)',
    'Selene setapinnis (Atlantic moonfish)',
    'Selene vomer (lookdown)',
    'Seriola rivoliana (almaco jack)',
    'Seriola zonata (banded rudderfish)',
    'Serranus phoebe (tattler)',
    'Sphoeroides dorsalis (marbled puffer)',
    'Sphoeroides maculatus (northern puffer)',
    'Sphoeroides pachygaster (blunthead puffer)',
    'Sphoeroides spengleri (bandtail puffer)',
    'Sphyraena borealis (northern sennet)',
    'Squalus acanthias (spiny dogfish)',
    'Squatina dumeril (Atlantic angel shark)',
    'Stenotomus chrysops (scup)',
    'Symphurus plagiusa (blackcheek tonguefish)',
    'Symphurus',
    'Synagrops bellus (blackmouth bass)',
    'Synagrops spinosus (keelcheek bass)',
    'Syngnathidae',
    'Syngnathus fuscus (northern pipefish)',
    'Synodontidae',
    'Synodus foetens (inshore lizardfish)',
    'Synodus synodus (red lizardfish)',
    'Tautoga onitis (tautog)',
    'Tautogolabrus adspersus (cunner)',
    'Torpedo nobiliana (Atlantic torpedo)',
    'Trachinocephalus myops (snakefish)',
    'Trachurus lathami (rough scad)',
    'Trichiurus lepturus (Atlantic cutlassfish)',
    'Triglops murrayi (moustache sculpin)',
    'Upeneus parvus (dwarf goatfish)',
    'Phycis chesteri (longfin hake)',
    'Urophycis chuss (red hake)',
    'Urophycis earllii (Carolina hake)',
    'Urophycis floridana (southern hake)',
    'Urophycis regia (spotted hake)',
    'Urophycis',
    'Urophycis tenuis (white hake)',
    'Xenolepidichthys dalgleishi (spotted tinselfish)',
    'Zenopsis conchifera (buckler dory)'
]

In [117]:
# Assuming spplist_23_24 has a column 'SCIENTIFIC_NAME'
fish_df = spplist_23_24[spplist_23_24.SCIENTIFIC_NAME.isin(fish_only)]

In [110]:
fish_df

,SCINAME,COMNAME,SVSPP,CRUISE6,CRUISE,STRATUM,TOW,STATION,STATUS_CODE,ID,...,BOTSALIN,FULD,NO_DETAIL_SVSPP,BOTSPEED,WATCH_CHIEF_COMMENTS,STATION_COMMENTS,HABITAT_COMMENTS,EXPCATCHNUM,EXPCATCHWT,SCIENTIFIC_NAME
10,ACIPENSER OXYRHYNCHUS,ATLANTIC STURGEON,380,202304.0,202304.0,03140,3.0,147.0,10.0,202304031400030147,...,31.799,NaN,NaN,3.2,NaN,NaN,NaN,1.0,9.880,Acipenser oxyrinchus (Atlantic sturgeon)
18,ALOSA AESTIVALIS,BLUEBACK HERRING,34,202304.0,202304.0,01260,3.0,251.0,10.0,202304012600030251,...,NaN,NaN,NaN,3.1,NaN,NaN,NaN,4.0,0.616,Alosa aestivalis (blueback herring)
19,ALOSA AESTIVALIS,BLUEBACK HERRING,34,202304.0,202304.0,01260,1.0,253.0,10.0,202304012600010253,...,32.013,NaN,NaN,3.1,NaN,NaN,NaN,3.0,0.444,Alosa aestivalis (blueback herring)
20,ALOSA AESTIVALIS,BLUEBACK HERRING,34,202304.0,202304.0,03660,2.0,255.0,10.0,202304036600020255,...,32.059,NaN,NaN,3.4,NaN,stream 2135,NaN,84.0,12.700,Alosa aestivalis (blueback herring)
21,ALOSA AESTIVALIS,BLUEBACK HERRING,34,202304.0,202304.0,03640,2.0,256.0,10.0,202304036400020256,...,32.058,NaN,NaN,3.4,NaN,NaN,NaN,2.0,0.309,Alosa aestivalis (blueback herring)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5916,ZENOPSIS CONCHIFERA,BUCKLER DORY,112,202304.0,202304.0,01140,3.0,204.0,10.0,202304011400030204,...,35.207,NaN,NaN,3.4,NaN,Net on deck 1225,NaN,1.0,3.113,Zenopsis conchifera (buckler dory)
5917,ZENOPSIS CONCHIFERA,BUCKLER DORY,112,202304.0,202304.0,01150,2.0,205.0,10.0,202304011500020205,...,35.223,NaN,NaN,3.5,NaN,NaN,NaN,4.0,7.248,Zenopsis conchifera (buckler dory)
5918,ZENOPSIS CONCHIFERA,BUCKLER DORY,112,202304.0,202304.0,01290,4.0,219.0,10.0,202304012900040219,...,34.992,NaN,NaN,3.2,NaN,NaN,NaN,1.0,2.140,Zenopsis conchifera (buckler dory)
5919,ZENOPSIS CONCHIFERA,BUCKLER DORY,112,202304.0,202304.0,01140,4.0,249.0,10.0,202304011400040249,...,34.789,NaN,NaN,3.3,NaN,Doubled clicked start trawl by accident.,NaN,1.0,0.062,Zenopsis conchifera (buckler dory)
5920,ZENOPSIS CONCHIFERA,BUCKLER DORY,112,202304.0,202304.0,01140,1.0,250.0,10.0,202304011400010250,...,34.590,NaN,NaN,3.3,NaN,NaN,NaN,2.0,1.980,Zenopsis conchifera (buckler dory)

In [102]:
spplist_23_24.to_csv('Data/spp_list_with_tows.csv')

In [118]:
# Pivot: species as columns, using catch numbers
pivot_pa = fish_df.pivot_table(
    index="ID",
    columns="COMNAME",          # or "COMNAME"/"SCINAME" if you want names instead of codes
    values="EXPCATCHNUM",
    aggfunc="sum",
    fill_value=0
)

# Convert to presence (1) / absence (0)
pivot_pa = (pivot_pa > 0).astype(int)

# Reset index if you want ID back as a column
pivot_pa = pivot_pa.reset_index()

In [112]:
pivot_pa

COMNAME,ID,ACADIAN REDFISH,ALEWIFE,ALLIGATORFISH,ALMACO JACK,AMERICAN PLAICE,AMERICAN SHAD,ATLANTIC ANGEL SHARK,ATLANTIC BATFISH,ATLANTIC BONITO,...,WHIFF UNCL,WHITE HAKE,WHITING UNCL,WINDOWPANE,WINTER FLOUNDER,WINTER SKATE,WITCH FLOUNDER,WRASSE UNCL,WRYMOUTH,YELLOWTAIL FLOUNDER
0,202304010100010144,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,202304010100020151,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2,202304010100030173,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,202304010100040150,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,202304010100050174,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,202304085200030095,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,202304085300010089,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,202304085300020091,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
256,202304085300030088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
257,202304085300040087,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [121]:
fish_environment = pd.merge(pivot_pa,nefsc_dates_df,on="ID", how='left').sort_index()

In [123]:
fish_environment

,ID,ACADIAN REDFISH,ALEWIFE,ALLIGATORFISH,ALMACO JACK,AMERICAN PLAICE,AMERICAN SHAD,ATLANTIC ANGEL SHARK,ATLANTIC BATFISH,ATLANTIC BONITO,...,YELLOWTAIL FLOUNDER,lat,lon,dates,surf_temp,bot_temp,surf_salinity,bot_salinity,avg_depth,region
0,202304010100010144,0,0,0,0,0,0,0,0,0,...,0,40.704667,-72.522833,2023-10-07,18.22,17.18,31.459,31.693,35.0,northeast
1,202304010100020151,0,0,0,0,0,0,0,0,0,...,0,40.405333,-73.176667,2023-10-08,18.14,18.10,31.883,31.918,35.0,northeast
2,202304010100030173,0,0,0,0,0,0,0,0,0,...,0,40.239667,-72.883667,2023-10-10,17.26,17.36,31.990,33.062,48.0,northeast
3,202304010100040150,0,0,0,0,0,0,0,0,0,...,0,40.197333,-73.591333,2023-10-08,18.47,18.65,32.009,32.328,38.0,northeast
4,202304010100050174,0,0,0,0,0,0,0,0,0,...,0,40.173000,-72.685833,2023-10-10,17.46,12.55,32.513,32.640,57.0,northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,202304085200030095,0,0,0,0,0,0,0,0,0,...,0,35.338833,-74.951833,2023-09-20,28.47,19.60,35.959,36.387,115.0,northeast
254,202304085300010089,0,0,0,0,0,0,0,0,0,...,0,34.540333,-75.685500,2023-09-19,28.70,12.18,35.728,35.574,271.0,northeast
255,202304085300020091,0,0,0,0,0,0,0,1,0,...,0,34.886833,-75.331833,2023-09-20,28.96,7.96,35.886,35.144,371.0,northeast
256,202304085300030088,0,0,0,0,0,0,0,0,0,...,0,34.420333,-75.777167,2023-09-19,28.64,12.02,35.638,35.534,287.0,northeast
257,202304085300040087,0,0,0,0,0,0,0,0,0,...,0,34.424500,-75.774167,2023-09-19,28.64,12.02,35.638,35.534,287.0,northeast

In [124]:
fish_environment.to_csv("Data/fish_fall_evironmental.csv")